%h1 Orders

= link_to "New Order", new_order_path

%table
  %tr
    %th Number
    %th Address
    %th Ship Date
    %th Items
    %th Total

  - @orders.each do |order|
    %tr
      %td= link_to order.id, order
      %td= order.shipping_address
      %td= order.human_ship_date
      %td= order.line_items.map{ |line_item| line_item.purchasable_type }
      %td= number_to_currency(order.total, precision: 0)
